@font-face {
src: url("fonts/Yeseva+One.ttf");
font-family:"Yeseva+One";
}

 body {
background: #E5E5E5;
margin: 0 auto;
box-sizing: border-box;
} 

.header {
width: 100%; 
background: black;
}

.header-content {
position: relative;
display: flex;
justify-content: space-between;
align-items: center;
height: 83px;
right: 9px;
}

.button-header {
position: inherit;
width: 175px;
height: 44px;
right: 35px;
background: #e3b873;
box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
border-radius: 2px;
border: 0px;
outline: 0px;
padding: 13px 33px;
color: white;

text-transform: uppercase;
font-family: "Nunito Sans", Arial, sans-serif;
font-style: italic;
font-weight: 400px;
font-size: 13px;
line-height: 15px;
text-align: center;
}

.logo {
position: relative;
width: 213px;
left: 35px;

font-family: "Nunito Sans", Arial, sans-serif;
font-style: normal;
font-size: 13px;
font-weight: 400;
line-height: 15px;
text-transform: uppercase;
color: #e3b873;
}

.telephone {
position: inherit;
right: 38px;
font-family: "Nunito Sans", Arial, sans-serif;
font-style: normal; 
font-size: 13px;
font-weight: 400;
text-decoration-line: underline;
line-height: 15px;
color:#e3b873;
}

.header-menu {
list-style: none;
}

.menu_item-header {
padding-right: 30px;
}

.menu {
display: flex;

font-size: 13px;
list-style-type: none;
font-family: "Nunito Sans", Arial, sans-serif;
font-style: normal;
font-weight: 400;
line-height: 15px;
text-decoration: none;
}

.link { 
color: white; 
text-decoration-line: none;
}

.icon {
position: inherit;
display: block;
width: 35px;
height: 5px;
right: 22px;
background: wheat;
}

.main {
height: 6606.2px;
}

.wrapper {
height: 6606.2px;
}

.room {
position: relative;
width: 100%; 
height: 708px;
bottom: 1px;
}

.filter-room-one-big-photo {
height: 707px;
margin: 0 ; 
filter: brightness(0.3);  
}

.room-one-big-photo {
width: 100%; 
height: 707px;
object-fit: fill; 
object-position: center; 
}

.container-text {
position: absolute; 
width: 580.11px;
height: 433px;
top: 142px;
left: 123px;
}

#h1 {
width: 577.11px;
height: 105px;
top: 277px;
left: 134px;
 
font-family: "Yeseva+One";
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 53px;
text-transform: uppercase; 
color: white;
}

#text-p {
width: 504px;
height: 89px;
top: 401px;
left: 134px;
margin-top: -11px;
margin-bottom: 40px;

font-family: 'Nunito Sans', Arial, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 36px;
color: #FFFFFF;
}

#button1-container-text {
display: flex;
justify-content: center;
align-items: center;
width: 207px;
height: 51px;
border: 2px solid #E3B873;
border-radius: 2px;
background: #E3B873;
box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);

font-family: "Nunito Sans",  Arial, sans-serif;
font-style: italic;
font-weight: 400;
font-size: 11px;
line-height: 15px;
text-align: center;
color: #FFFFFF;
}

#button2-container-text {
display: flex;
justify-content: center;
align-items: center;
width: 207px;
height: 51px;
background-color: Transparent;
background-repeat:no-repeat;
cursor:pointer;
overflow: hidden;
outline:none;
border: 1px solid #FFFFFF;
border-radius: 2px;
margin-top: -51px;
margin-left: 232px;

font-family: "Nunito Sans", Arial, sans-serif;
font-style: italic;
font-weight: 400;
font-size: 11px;
line-height: 15px;
color: white;
}

.city-span {
color: #E3B873;
}

.span:hover, .mini-line:hover, .text-button_submit:hover,
.text:hover, .span-span:hover, .text-name1:hover, .numbers:hover  {
border-bottom: 2px solid #2798f1;
}

#button1-container-text:hover, #button2-container-text:hover, .rub1:hover, 
.rub2:hover, .rub3:hover, .button-header:hover, .submit:hover,
.icon:hover, .line:hover, .border-2:hover, .button:hover, .line-big-photo:hover, 
.button-bl-r:hover, .button-footer:hover, .but1:hover, .but2:hover, .but3:hover {
border: 2px solid #2798f1;
}

.group-1 {
display: flex;
justify-content: space-around;
position: relative;
width: 100%; 
height: 999px;
bottom: 3px;
background: black;
}

.mini-section {
position: absolute;
display: flex;
flex-direction: column;
width: 695px;
top: 107px;
left: 575px;
}

.menu-list {
position: relative;
width: 695px;
height:16.32px;
right: 39px;
bottom: 53px;
}

.list {
position: inheri;
display: flex;
justify-content: space-betwee;

font-family: 'Yeseva One';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 29px;
list-style-type: none; 
text-transform: uppercase;
color: rgba(255, 255, 255, 0.3);
}

.list_item {
padding-right: 59px;
}

.line {
position: relative;
display: inline-block;
width: 190px;
height: 1px;
bottom: 27px;
color: #E3B873;
background: #E3B873;
}

.room2 {
width: 649px;
height: 482px;
object-fit: contain;
object-position: center;
}

.container-text-group-1 {
position: absolute;
display: flex;
flex-direction: column;
bottom: 434px;
left: 123px;
}

.h2 {
position: initial;
width: 205px;
height: 66px;
bottom: 10px;

font-family: 'Yeseva One';
font-style: normal;
font-weight: 400;
font-size: 27px;
line-height: 37px;
letter-spacing: -0.07em;
text-transform: uppercase;
color: #E3B873;
}

.text-p1 {
position: relative;
width: 393px;
height: 86px;
bottom: 13px;

font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 25px;
color: #FFFFFF;
}

.container-mini-text-group-1 {
display: flex;
bottom: 33px;
}

.mini-text-group {
display: flex;
flex-direction: column;
}

.h3 {
width: 192px; 
height: 22px;  

font-family: 'Yeseva One';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 25px;
text-transform: uppercase;
color: #E3B873;
}

.mini-text-p {
position: relative;
width: 103px;
height: 24px;
bottom: 25px;

font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 21px;
color: #FFFFFF;
}

.mini-text-group2 {
display: flex;
flex-direction: column;
}

.group-vectors {
position: inherit;
width: 235.68px;
height: 13.28px;
display: flex;
justify-content: space-between;
align-items: center;
bottom: -39px;
right: 176px;
margin: 0 ;
}

.vector-1, .vector-2  {
background: #FFFFFF;
}

.vector-1:hover, .vector-2:hover  {
background: #2798f1;
}

.bracket-1 {
position: relative;
display: inline;
top: 1px;
left: 25px;

}

.bracket-2 {
position: relative;
right: 22px;
}

.points {
width: 63.78px;
height: 12.57px;
display: flex;
justify-content: space-between;
}

.point {
border-radius: 30px; 
}

.point:hover {
background: #2798f1;
}

.section-onl-vect {
position: absolute;
display: flex;
flex-direction: column;
top: 695px;
left: 579px;
}

.online {
position: absolute;
width: 183px;
height: 26px;

font-family: 'Yeseva One';
font-style: normal;
font-weight: 400;
font-size: 21px;
line-height: 28px;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
}

.vectors2 {
position: absolute;
display: flex;
justify-content: space-between;
width: 127px;
height: 30px;
top: 57px;
left: 23px;
margin: 0 auto;
}

.mini-line {
width: 27px;
height: 1.54px;
top: 14px;
background: #E3B873;
border-radius: 30px;
}

.w-can { 
width: 26.77px;
height: 28px;
}

.repair {
position: relative;
width: 740px;
height: 389px;
bottom: 197px;
left: 291px;
z-index: 1;
}

.filter-repair {
margin: 0 ;
filter: brightness(0.3);
}

.photo {
width: 740px;
height: 389px;
object-fit: contain;
}

.block-1 {
position: inherit;
display: flex;
justify-content: center;
bottom: 220px;
left: 5px;
margin: 0 auto;
}

.ellipse {
width: 95px; 
}

.play {
position: relative;
width: 16px;
height: 16px;
top: 38px;
right: 54px;
transform: rotate(0deg);
}

.group-2 {
position: relative;
display: flex;
flex-direction: column;
width: 100%; 
height: 1408px;
bottom: 391px;
background: white;
}

.border-2 {
position: inherit;
width: 55px;
height: 1.54px;
top: 255px;
left: 635px;
background: #E3B873;
}

.text-3 {
position: absolute;
display: block;
width: 681px;
height: 130.91px;
top: 279.5px;
left: 324px;

font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 34px;
text-align: center;
color: #363636;
}

.block2 {
position: relative;
width: auto;
height: 0px;
top: 117px;
right: 0px;
}

.submit {
position: inherit;
display: flex;
justify-content: center;
align-items: center;
width: 200px;
height: 51px;
border: 1px solid #E3B873;
top: 376px;
left: 849px; 
background: #E3B873;
box-shadow: 0px 5px 20px rgba(227, 184, 115, 0.1);

font-family: "Nunito Sans", Arial, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 13px;
text-transform: uppercase;
text-align: center;
color: #FFFFFF;
}

.fio {
position: relative;
width: 348.85px;
height: 119px;
top: 316px;
left: 266px;
cursor: pointer;
}

.text-name-gr2 {
position: absolute;
width: 32.85px;
height: 12px;
top: 387p;
left: 30p;

font-family: "Nunito Sans", Arial, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 13px;
}

.text-question-gr2 {
position: absolute;
width: 137.36px;
height: 17px;
top: 10px;

font-family: "Nunito Sans", Arial, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
padding-top: 7px;
}

.text-question-gr2:hover::after {
 width: 100%;  
}

.text-question-gr2::after {
position: absolute;
content: "";
display: block;
height: 2px;
background: #2798f1;
}

.strip {
position: absolute;
width: 231px;
height: 1px;
top: 55px;
box-sizing: border-box;
border: 1px solid rgba(54, 54, 54, 0.3);
background: #E3B873;
}

.strip:hover {
background-color: #2798f1;
}

.fio-1 {
position: relative;
width: 348.85px;
height: 119px;
top: 197px;
left: 558px;
cursor: pointer;   
}

.first-checkbox {
position: inherit;
width: 300px;
height: 40px;
top: 570px;
left: 531px;
}

.label {
cursor: pointer;
}

.checkbox {
display: none;
}

.fake {
display: inline-flex;
width: 18px;
height: 18px;
background: #E3B873;
color: #fff;
justify-content: center;
}

.fake::before {
content:"\2714";
opacity: 0;
transition: .2s;
}

.checkbox:checked + .fake::before {
opacity: 1;
}

.types {
position: inherit;
width: 184px;
height: 26px;
top: 598px;
left: 551px;

font-family: 'Yeseva One', Arial, sans-serif;
font-style: normal;
font-weight: bolder;
font-size: 20px;
line-height: 28px;
text-align: center;
text-transform: uppercase;
color: #181818;
}

.emblem {
display: flex;
justify-content: space-between;
align-items: center;
position: relative;
width: 114px;
height: 28px;
top: 594px;
left: 585px;
}

.vector-4 {
width: 32px;
height: 1.54px;
background: #E3B873;
border-radius: 30px;
border: 1px solid #E3B873;
}

.vector-4:hover {
background: #2798f1;
border: 1px solid #2798f1;
}

.keyses {
background-image: url("images/keyses.svg");
}

.keyses:hover {
background: #2798f1;
}

.sections {
position: absolute;
height: 0px;
top: 513px;
left: 4px;
}

.photo-bottom-1 {
display: block;
position: relative;
width: 392px;
height: 544px;
top: 249px;
left: 68px;
}

.wall {
position: inherit;
width: 296px;
height: 338px;
left: 98px;
}

.group-5 {
position: inherit;
width: 261px;
height: 286px;
bottom: 147px;
left: 115px;
background: #FFFFFF;
box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
}

.redecorating {
position: relative;
width: 107px;
height: 21px;
top: 12px;
left: 34px;

font-family: 'Yeseva One';
font-style: normal;
font-weight: bolder;
font-size: 18px;
line-height: 25px;
color: #363636;
}

.list1{
position: relative;
left: 11px;

font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 27px;
color: #959595;
}

.photo-bottom-2 {
display: block;
position: relative;
width: 395px;
height: 544px;
bottom: 297px;
left: 495px;  
}

.furniture {
position: relative;
width: 296px;
height: 338px;
}

.group-6 {
position: inherit;
width: 261px;
height: 286px;
bottom: 147px;
left: 17px;
background: #FFFFFF;
box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);   
}

.overhaul {
position: inherit;
width: 71px;
height: 21px;
top: 12px;
left: 31px;

font-family: 'Yeseva One';
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 25px;
color: #363636;
}

.list-2 {
position: relative;
left: 11px;

font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 27px;
color: #959595;   
}

.photo-bottom-3 {
display: block;
position: relative;
width: 395px;
height: 544px;
bottom: 842px;
left: 876px;    
}

.furtiture-2 {
position: inherit;
width: 296px;
height: 338px;
right: 52px;
}

.group-7 {
position: relative;
width: 261px;
height: 286px;
bottom: 147px;
right: 32px;
background: #FFFFFF;
box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
}

.designer {
position: inherit;
width: 126.7px;
height: 21px;
top: 12px;
left: 31px;

font-family: 'Yeseva One';
font-style: normal;
font-weight: bolder;
font-size: 18px;
line-height: 25px;
color: #363636;
}

.list-3 {
 position: relative;
 bottom: ;
left: 11px;

font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 27px;
color: #959595;      
}

.button-container {
display: flex;
justify-content: space-between;
align-items: center;
position: relative;
width: 1285px;
height: 56px;
bottom: 919px;
}

.rub1 {
display: flex;
position: relative;
justify-content: center;
align-items: center; 
width: 156px;
height: 42px;
left: 183px;
border: 1px solid #E3B873; 
background: #E3B873;
box-shadow: 0px 5px 20px rgba(227, 184, 115, 0.1);

font-family: "Yeseva One", Arial, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 19px;
text-transform: uppercase;
text-align: center;
color: #FFFFFF;
}

.rub2 {
display: flex;
position: relative;
justify-content: center;
align-items: center;
width: 156px;
height: 42px;
right: 53px;
border: 1px solid #E3B873; 
background: #E3B873;
box-shadow: 0px 5px 20px rgba(227, 184, 115, 0.1);

font-family: "Yeseva One", Arial, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 19px;
text-transform: uppercase;
text-align: center;
color: #FFFFFF;
}

.rub3 {
display: flex;
position: relative;
justify-content: center;
align-items: center;
width: 156px;
height: 42px;
right: 285px;
border: 1px solid #E3B873; 
background: #E3B873;
box-shadow: 0px 5px 20px rgba(227, 184, 115, 0.1);

font-family: "Yeseva One", Arial, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 19px;
text-transform: uppercase;
text-align: center;
color: #FFFFFF;
}

.group3 {
position: relative;
width: 100%; 
height: 2772px;
bottom: 393px;
background: white;
}

.section {
display: flex;
flex-direction: column;
position: inherit;
width: 617px;
height: 558px;
top: 47px;
}

.house {
position: absolute;
width: 568px;
height: 595px;
margin: 0 ;
}

.img-house {
width: 568px;
height: 553px;
}

.rectangle {
position: absolute;
display: flex;
flex-direction: column;
width: 434px;
height: 351px;
bottom: -15px;
left: 223px;
margin: 0 ;
}

.mini-group1, .mini-group2, .mini-group3, .mini-group4 {
display: flex;
}

.circle {
width: 80px;
height: 78px;
}

.numbers {
display: flex;
flex-direction: column;
position: relative;
width: 30px;
height: 16px;
top: 28px;
right: 55px;

font-family: 'Yeseva One';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 25px;
text-align: center;
color: #FFFFFF;
}

.mini-text {
display: flex;
flex-direction: column;
position: relative;
width: 316px;
height: 39px;
top: 9px;
right: 42px;

font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
color: #363636;
}

.black-square {
position: relative;
display: flex;
flex-direction: column;
width: 442px;
height: 454px;
bottom: 448px;
left: 771px;
background: black;
}

.h4 {
position: inherit;
width: 268.47px;
height: 47px;
bottom: 5px;
left: 93px;

font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 26px;
text-align: center;
color: #FFFFFF;
}

.fio2 {
position: relative;
width: 348.85px;
height: 119px;
top: 10px;
left: 36px;
cursor: pointer;
}

.text-name1 {
position: absolute;
width: 41.62px;
height: 16px;

font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 21px;
color: rgba(255, 255, 255, 0.5);
}

.text-question1 {
position: absolute;
width: 124px;
height: 23px;
top: 17px;

font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 23px;
color: #FFFFFF;
}

.text-question1:hover::after {
 width: 100%;  
}

.text-question1::after {
content: "";
display: block;
height: 2px;
position: absolute;
background: #2798f1;
}

.strip1 {
width: 328px;
height: 1px;
top: 58px;
box-sizing: border-box;
position: absolute;
border: 1px solid rgba(54, 54, 54, 0.3);
background: gba(255, 255, 255, 0.15);;
}

.strip1:hover {
background-color: #2798f1;
}

.phone1 {
position: relative;
width: 348.85px;
height: 119px;
top: 0px;
left: 36px;
cursor: pointer;   
}

.mail {
position: relative;
width: 348.85px;
height: 119px;
bottom: 17px;
left: 36px;
cursor: pointer;   
}   

.text-question1 {
position: absolute;
width: 124px;
height: 23px;
top: 17px;

font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 23px;
color: #FFFFFF;
}

.text-question1:hover::after {
width: 100%;
}

.text-question1::after {
content: "";
display: block;
height: 2px;
position: absolute;
background: #2798f1;
}

.first-checkbox1 {
position: relative;
width: 300px;
height: 40px;
bottom: 38px;
left: 36px;
}

.label {
cursor: pointer;
}

.checkbox{
display: none;
}

.fake{
display: inline-flex;
width: 18px;
height: 18px;
background: #E3B873;
color: white;
justify-content: center;
}

.fake::before{
content:"\2714";
opacity: 0;
transition: .2s;
}

.checkbox:checked + .fake::before{
opacity: 1;
}

.text1 {
font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 163.68%;
color: #FFFFFF;
}

.button {
position: inherit;
width: 213px;
height: 51px;
bottom: 23px;
left: 184px;
padding-bottom: 4px;
padding-left: 43px;
border: 2px solid #E3B873;
background: #E3B873;
box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
}

.but-text {
width: 123px;
height: 13px;

font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 21px;
text-align: center;
text-transform: uppercase;
color: white;
}

.pig {
position: relative;
display: flex;
width: 72px;
height: 72px;
bottom: 421px;
left: 746px; 
background: #FFFFFF;
border: 0.1px solid #FFFFFF
}

.ellipse4 {
position: inherit;
top: 1px;
width: 79px;
height: 79px;
left: 3px;
top: 0px;
background: white;
box-shadow: 0px 10px 20px rgba(237, 192, 120, 0.2);
}

.piggy {
position: relative;
width: 40px;
height: 33px;
top: 12px;
right: 55px;
}

.piggy:hover, .bucks:hover, .eyes:hover, 
.vector1:hover, .vector2:hover {
background: #2798f1;
}

.eyes {
position: inherit;
width: 5px;
height: 2.5px;
top: 23px;
right: 66px;
}

.bucks {
position: inherit;
width: 8px;
height: 11px;
top: 23px;
right: 86px;
}

.text-pig {
position: absolute;
width: 219px;
height: 47px;
top: -13px;
left: 83px;

font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 26px;
color: #E3B873;
text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);  
}

.big-photo {
width: 100%; 
position: relative;
height: 707px;
bottom: 221px;
}

.filter-room-big-photo {
height: 707px;
margin: 0 auto;
filter: brightness(0.2);
}

.room-big-photo {
width: 100%; 
height: 707px;
object-fit: cover;
object-position: center;
}

.text-big-photo {
position: absolute;
display: flex;
flex-direction: column;
width: 411px;
height: 349px;
bottom: 278px;
left: 76px;
}

.h2-big-photo {
position: relative;
width: 326px;
height: 66px;
left: 36px;

font-family: 'Yeseva One';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 35px;
text-transform: uppercase;
color: #E3B873;
}

.list-text-big-photo {
position: relative;
display: flex;
flex-direction: column;
width: 299px;
height: 275px;
list-style-type: none;

font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 38px;
color: #FFFFFF;
}

.line-big-photo {
width: 146.23px;
height: 0.66;
bottom: 1px;
margin-bottom: 17px;
border: 2px solid #E3B873;
background: #E3B873;
}

.room1-big-photo {
position: absolute;
width: 354px;
height: 557px;
bottom: 193px;
left: 500px;
}

.room2-big-photo {
position: absolute;
width: 354px;
height: 235px;
bottom: 598px;
left: 886px;
object-fit: fill;
}

.room3-big-photo {
position: absolute;
width: 354px;
height: 557px;
top: 139px;
left: 886px;
object-fit: fill;
}

.room4-big-photo {
position: relative;
width: 354px;
height: 235px;
bottom: 160px;
left: 500px;
object-fit: fill;
}

.mini-group5 {
display: flex;
flex-direction: column;
position: relative;
width: auto;
height: 0px;
top: 464px;
right: 56px;
}

.h2our {
position: inherit;
width: 257px;
height: 26px;
bottom: 562px;
left: 581px;

font-family: 'Yeseva One';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 28px;
text-align: center;
text-transform: uppercase;
color: #181818;
}

.group-hands {
position: relative;
display: flex;
justify-content: space-between;
align-items: center;
width: 34px;
height: 28px;
bottom: 567px;
left: 680px;
}

.vector1 {
position: inherit;
width: 32px;
height: 1.5px;
right: 6px;
background: #E3B873;
border-radius: 30px;
}

.hands {
width: 34px;
height: 21px;
}

.vector2 {
position: inherit;
width: 32px;
height: 1.5px;
left: 6px;
background: #E3B873;
border-radius: 30px;
border-bottom: ;: 2px solid #E3B873;
}

.h3-mini-group5 {
position: inherit;
width: 366px;
height: 57px;
bottom: 572px;
left: 524px;

font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 29px;
text-align: center;
color: #363636;  
}

.section-content {
position: inherit;
height: 0px;
left: 12px;
top: 798px;
}

.people {
position: relative;
display: flex;
justify-content: space-between;
width: auto;
height: auto;
bottom: 715px;
right: 54p;
}

.one {
position: relative;
width: 319px;
height: 428px;
left: 129px;
background: white;
box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
}

.two {
position: relative;
width: 319px;
height: 428px;
right: -1px;
background: white;
box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
}

.three {
position: relative;
width: 319px;
height: 428px;
right: 129px;
background: white;
box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);   
}

.ellipse1, .ellipse2, .ellipse3 {
position: relative;
width: 40px;
height: 40px;
right: 58px;
bottom: 19px;
z-index: -1;
background: #FFFFFF;
}

.photo1, .photo2, .photo3 {
width: 70px;
height: 70px;  
}

.woman, .man {
position: inherit;
width: 178px;
height: 51px;
bottom: 76px;
left: 81px;

font-family: 'Yeseva One';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 23px;
color: #181818;
}

.text-woman {
position: relative;
width: 324px;
height: 216px;
bottom: 64px;

font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 23px;
}

.button-container1 {
position: relative;
display: flex;
justify-content: space-between;
align-items: center;
width: auto;
height: auto;
right: 53px;
bottom: 742px;
}

.but1 {
position: inherit;
display: flex;
justify-content: space-between;
align-items: center;
width: 272px;
height: 54px;
left: 180px;
border: 2px solid #E3B873;
background: #E3B873;
box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
}

.but2 {
position: inherit;
display: flex;
justify-content: space-between;
align-items: center;
width: 272px;
height: 54px;
left: 32px;
border: 2px solid #E3B873;
background: #E3B873;
box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
}

.but3 {
position: relative;
display: flex;
justify-content: space-between;
align-items: center;
width: 272px;
height: 54px;
right: 121px;
border: 2px solid #E3B873;
background: #E3B873;
box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);  
}

.vertical {
right: 8px;
}

.vertical:hover {
background: #2798f1;
}

.pot {
position: inherit;
left: 6px;
}

.kjubik {
position: inherit;
left: 10px;
}

.but1-text {
position: relative;
width: 123px;
height: 13px;
left: 7px;

font-family: 'Yeseva One';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 24px;
text-transform: uppercase;
color: #FFFFFF;
}

.but2-text {
position: relative;
width: 123px;
height: 13px;

font-family: 'Yeseva One';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 24px;
text-transform: uppercase;
color: #FFFFFF;   
}

.buildings {
position: relative;
display: flex;
align-items:baseline; 
height: 310px;
top: 627px;
opacity: 0.05;
}

.building1 {
width: 661px;
height: 319px;
background: #9e9e9e0d;
}

.building2 {
width: 661px;
height: 319px;
transform: matrix(-1, 0, 0, 1, 0, 0);
background: #9e9e9e0d;
}

.black-rectangle {
position: relative;
width: 675px;
height: 336.32px;
bottom: 571px;
left: 311px;
z-index: 1;
background: black;
}

.black-rectangle-mini {
display: flex;
flex-direction: column;
position: inherit;
width: auto;
height: 401px;
right: 4px;
bottom: 23px;
}

.h2-b-r {
position: inherit;
width: 257px;
height: 26px;
top: 25px;
left: 227px;

font-family: 'Yeseva One';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 28px;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
}

.inform {
position: relative;
width: 348.85px;
height: 119px;
top: 42px;
left: 131px;
cursor: pointer;
}

.text-name{
position: absolute;
width: 41.62px;
height: 16px;

font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 21px;
color: rgba(255, 255, 255, 0.5);
}

.text-question {
position: absolute;
width: 124px;
height: 23px;
top: 17px;

font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 23px;
color: #FFFFFF;
}

.text-question:hover::after {
width: 100%;  
}

.text-question::after {
content: "";
display: block;
height: 2px;
position: absolute;
background: #2798f1;
}

.strip2  {
width: 160px;
height: 1px;
top: 55px;
box-sizing: border-box;
position: absolute;
border: 1px solid rgba(54, 54, 54, 0.3);
background: gba(255, 255, 255, 0.15);;
}

.strip3 {
width: 427px;
height: 1px;
top: 55px;
box-sizing: border-box;
position: absolute;
border: 1px solid rgba(54, 54, 54, 0.3);
background: gba(255, 255, 255, 0.15);;
}  

.strip2:hover, strip3:hover {
background-color: #2798f1;
}

.phone2 {
position: relative;
width: 348.85px;
height: 119px;
bottom: 47px;
left: 403px;
cursor: pointer;   
}

.question {
position: relative;
width: 348.85px;
height: 119px;
bottom: 74px;
left: 131px;
cursor: pointer;   
}   

.text-question1 {
position: absolute;
width: 124px;
height: 23px;
top: 17px;

font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 23px;
color: #FFFFFF;
}

.text-question1:hover::after {
width: 100%;
}

.text-question1::after {
content: "";
display: block;
height: 2px;
position: absolute;
background: #2798f1;
}

.first-checkbox2 {
position: relative;
width: 300px;
height: 40px;
bottom: 82px;
left: 228px;
}

.label {
cursor: pointer;
}

.checkbox{
display: none;
}

.fake{
display: inline-flex;
width: 18px;
height: 18px;
background: #E3B873;
color: white;
justify-content: center;
}

.fake::before{
content:"\2714";
opacity: 0;
transition: .2s;
}

.checkbox:checked + .fake::before{
opacity: 1;
}

.button-bl-r {
position: inherit;
width: 199px;
height: 46px;
bottom: 67px;
left: 259px;
padding-bottom: 6px;
padding-left: 73px;
border: 2px solid #E3B873;
background: #E3B873;
box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
 }

.button-bl-r-text {
width: 56px;
height: 13px;

font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 22px;
text-align: center;
text-transform: uppercase;
color: white;
}

.black-square2 {
position: relative;
width: 100%; 
height: 724.9px;
bottom: 730px;
background: black;
}

.image2 {
width: 100%; 
height: 724.9px;
margin: 0 auto;
filter: brightness(0.3);
}

.img2 {
width: 100%; 
height: 724.9px;
}

.rectangle2 {
position: inherit;
width: 85%;
height: 513px;
bottom: 591px;
left: 155px;
}

.mini-group-6 {
display: flex;
flex-direction: column;
position: relative;
top: 77px;
right: 141px;
}

.h1-bl-sq2 {
position: inherit;
width:589px;
height: 51px;
top: -12px;
left: 348px;

font-family: 'Yeseva One';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 28px;
text-align: center;
text-transform: uppercase;
color: #E3B873;  
}

.envelope {
position: relative;
width: 28px;
height: 28px;
top: -13px;
left: 574px;
}

.email {
position: relative;
width: 28px;
height: 28px;
}

.vect {
position: relative;
left: 6px;
bottom: 30px;
}

.vect1 {
position: relative;
left: 6px;
bottom: 46px;
}

.insta {
position: relative;
width: 28px;
height: 28px;
bottom: 58px;
left: 651px;
background: #9e9e9e0d;
}

.navigator {
position: absolute;
width: 805px;
height: 342px;
top: 178px;
left: 108px;
}

.footer {
position: relative;
width: 100%; 
top: 0px;
background: black;  
}

.footer-content {
position: inherit;
display: flex;
justify-content: space-between;
height: 133px;
right: 10px;
align-items: center;
}

.button-footer {
position: relative;
width: 175px;
height: 45px;
right: 75px;
background: #e3b873;
box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
border-radius: 2px;
border: 0px;
outline: 0px;
padding: 13px 33px;
color: white;
  
text-transform: uppercase;
font-family: "Nunito Sans", Arial, sans-serif;
font-style: italic;
font-weight: 400px;
font-size: 13px;
line-height: 15px;
text-align: center;
}

.logo1 {
position: relative;
width: 179.74px;
height: 10px;
left: 75px;

font-family: "Nunito Sans", Arial, sans-serif;
font-style: normal;
font-size: 13px;
font-weight: 400;
line-height: 10px;
text-transform: uppercase;
color: #e3b873;
}

.telephone1 {
position: relative;
width: 126px;
height: 16px;
    
font-family: "Nunito Sans", Arial, sans-serif;
font-style: normal; 
font-size: 13px;
font-weight: 400;
text-decoration-line: underline;
line-height: 15px;
color:#e3b873;
}

.footer-menu {
position: relative;
display: none;
left: 34px;
list-style: none;
}

.menu1 {
position: relative;
display: flex;
    
list-style-type: none;
font-family: "Nunito Sans", Arial, sans-serif;
font-style: normal;
font-size: 13px;
font-weight: 400;
line-height: 15px;
text-decoration: none;
}

.menu_item-footer {
padding-right: 29px;
}

.link {
text-decoration-line: none;
color: white;
}

.icon1 {
position: relative;
display: block;
width: 35px;
height: 5px;
background: wheat;
} 

@media screen and (max-width: 1300px) {

body {width: 1300px; background: #9e9e9e59; }

.header-menu { display: none; }

.button-header { right: 56px; }

.logo { left: 56px; }

.telephone, .icon { left: 0px; }

.container-text, .container-text-group-1 { left: 124px; }

.footer-content { right: 35px; }

.footer-menu { display: flex; }

.button-footer { right: 24px; }

}